<body>
<div class="body-view">
  <div class="header">
    <p class="mat-display-1">PREMIER LEAGUE VIEW MANAGER</p>
  </div>
  <div>
    <p style="text-align: center" class="mat-h1">WELCOME TO THE PREMIER LEAGUE</p>
    <p style="text-align: center" class="mat-h2">SELECT THE BUTTON WHICH NEEDS TO VIEW</p>
  </div>
  <div class="center">


    <button mat-raised-button (click)="clubSearch()"  class="button">CLUB SEARCH</button>
    <button mat-raised-button (click)="matchSearch()"  class="button">MATCH SERACH</button>
    <button mat-raised-button (click)="addMatch()"  class="button">ADD A MATCH</button>
  </div>
</div>
</body>
