<div class="center">
  <button mat-raised-button (click)="pointsSort()"  class="button">ACCORDING TO THE POINTS<br>[DESCENDING ORDER]</button>
  <button mat-raised-button (click)="goalsSort()"  class="button">ACCORDING TO THE GOALS<br>[DESCENDING ORDER]</button>
  <button mat-raised-button (click)="winsSort()" class="button">ACCORDING TO THE WINS<br>[DESCENDING ORDER]</button>



</div>
<div class="bottom">


  <button (click)="back()" mat-fab color="primary" aria-label="Example icon button with a menu icon"> BACK </button>

</div>


